[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
whatscookin = {file = ".", editable = true}
pytest = "*"

[dev-packages]
pytest = "*"
build = "*"
twine = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
